body {
    background: url("../img/forest.png");
    background-size: cover;
    min-height: 100vh;
}

#mapid {
    height: 500px;
}

header {
    margin-bottom: 5%;
}

footer {
    margin-top: 5%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#mainContainer {
    padding: 1% 2% 1% 2%;
}
