<footer class="green darken-2 page-footer">
    <div class="container">
        <div class="row center">
            <div class="col s12">
                <p class="grey-text text-lighten-4">Théophile Hamelin - ESIEA 3A</p>
            </div>
            <div class="col s12">
                <ul>
                    <li><a class="hoverable grey-text text-lighten-3"
                           href="https://gitlab.com/TheophileHamelin/datafor-t" target="_blank">GitLab</a></li>
                    <li><a class="hoverable grey-text text-lighten-3" href="https://materializecss.com/"
                           target="_blank">Materialize</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
