<header class="z-depth-5">
    <nav class="green darken-2">
        <div class="nav-wrapper">
            <a href="index.php" class="brand-logo center">DataForêt</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">A propos</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">A propos</a></li>
    </ul>
</header>
