<!--Jquery-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<script src="view/js/header.js" type="text/javascript"></script>
